html, body {
  margin: 0;
  height: 100%; /* Asegura que el html y el body ocupen toda la altura del viewport */
  
}

:root,
:root.purple {
  --letter-title:'Concert One', cursive;
  --letter-text:'Ubuntu', sans-serif;
  
  --background-primary:#E0DFE9; 
  --background-secondary:#EBF172;
  --background-terceary:#942810;

  --background-tarjets:rgba(0, 0, 0, 0.74);

  --color-primary: white;
  --color-primaryTransparent: rgba(255, 255, 255, 0.052);
  --color-terceary:#942810;
}
.purple{
  background-color:rgb(31, 34, 53);
  color: var(--color-primary);
}





.slick-track{
  display: flex !important;
  gap: 20px;
}